:root {

  --background: #11131a;
  --background-rgb: 17, 19, 26;

  --error: #ffb4ab;
  --error-rgb: 255, 180, 171;

  --error_container: #93000a;
  --error_container-rgb: 147, 0, 10;

  --inverse_on_surface: #2e3038;
  --inverse_on_surface-rgb: 46, 48, 56;

  --inverse_primary: #005ac1;
  --inverse_primary-rgb: 0, 90, 193;

  --inverse_surface: #e1e2eb;
  --inverse_surface-rgb: 225, 226, 235;

  --on_background: #e1e2eb;
  --on_background-rgb: 225, 226, 235;

  --on_error: #690005;
  --on_error-rgb: 105, 0, 5;

  --on_error_container: #ffdad6;
  --on_error_container-rgb: 255, 218, 214;

  --on_primary: #002e69;
  --on_primary-rgb: 0, 46, 105;

  --on_primary_container: #000000;
  --on_primary_container-rgb: 0, 0, 0;

  --on_primary_fixed: #001a41;
  --on_primary_fixed-rgb: 0, 26, 65;

  --on_primary_fixed_variant: #004494;
  --on_primary_fixed_variant-rgb: 0, 68, 148;

  --on_secondary: #193057;
  --on_secondary-rgb: 25, 48, 87;

  --on_secondary_container: #dae4ff;
  --on_secondary_container-rgb: 218, 228, 255;

  --on_secondary_fixed: #001a41;
  --on_secondary_fixed-rgb: 0, 26, 65;

  --on_secondary_fixed_variant: #31466f;
  --on_secondary_fixed_variant-rgb: 49, 70, 111;

  --on_surface: #e1e2eb;
  --on_surface-rgb: 225, 226, 235;

  --on_surface_variant: #c2c6d5;
  --on_surface_variant-rgb: 194, 198, 213;

  --on_tertiary: #4e2600;
  --on_tertiary-rgb: 78, 38, 0;

  --on_tertiary_container: #000000;
  --on_tertiary_container-rgb: 0, 0, 0;

  --on_tertiary_fixed: #2f1400;
  --on_tertiary_fixed-rgb: 47, 20, 0;

  --on_tertiary_fixed_variant: #6f3800;
  --on_tertiary_fixed_variant-rgb: 111, 56, 0;

  --outline: #8c909f;
  --outline-rgb: 140, 144, 159;

  --outline_variant: #424753;
  --outline_variant-rgb: 66, 71, 83;

  --primary: #adc6ff;
  --primary-rgb: 173, 198, 255;

  --primary_container: #4d8efe;
  --primary_container-rgb: 77, 142, 254;

  --primary_fixed: #d8e2ff;
  --primary_fixed-rgb: 216, 226, 255;

  --primary_fixed_dim: #adc6ff;
  --primary_fixed_dim-rgb: 173, 198, 255;

  --scrim: #000000;
  --scrim-rgb: 0, 0, 0;

  --secondary: #b1c6f7;
  --secondary-rgb: 177, 198, 247;

  --secondary_container: #344972;
  --secondary_container-rgb: 52, 73, 114;

  --secondary_fixed: #d8e2ff;
  --secondary_fixed-rgb: 216, 226, 255;

  --secondary_fixed_dim: #b1c6f7;
  --secondary_fixed_dim-rgb: 177, 198, 247;

  --shadow: #000000;
  --shadow-rgb: 0, 0, 0;

  --source_color: #4285f4;
  --source_color-rgb: 66, 133, 244;

  --surface: #11131a;
  --surface-rgb: 17, 19, 26;

  --surface_bright: #363940;
  --surface_bright-rgb: 54, 57, 64;

  --surface_container: #1d2026;
  --surface_container-rgb: 29, 32, 38;

  --surface_container_high: #272a31;
  --surface_container_high-rgb: 39, 42, 49;

  --surface_container_highest: #32353c;
  --surface_container_highest-rgb: 50, 53, 60;

  --surface_container_low: #191b22;
  --surface_container_low-rgb: 25, 27, 34;

  --surface_container_lowest: #0b0e15;
  --surface_container_lowest-rgb: 11, 14, 21;

  --surface_dim: #11131a;
  --surface_dim-rgb: 17, 19, 26;

  --surface_tint: #adc6ff;
  --surface_tint-rgb: 173, 198, 255;

  --surface_variant: #424753;
  --surface_variant-rgb: 66, 71, 83;

  --tertiary: #ffb780;
  --tertiary-rgb: 255, 183, 128;

  --tertiary_container: #db760f;
  --tertiary_container-rgb: 219, 118, 15;

  --tertiary_fixed: #ffdcc4;
  --tertiary_fixed-rgb: 255, 220, 196;

  --tertiary_fixed_dim: #ffb780;
  --tertiary_fixed_dim-rgb: 255, 183, 128;

}
